<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<div class="flex items-center justify-center min-h-screen bg-gray-900">

    <div class="col-span-12">

      <form class="flex items-center max-w-sm mx-auto">

        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"/>
            </svg>
          </div>
          <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search by Tax title..." required />
        </div>
        <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
          <span class="sr-only">Search</span>
        </button>
      </form>

      <div class="overflow-auto lg:overflow-visible ">
            <table class="table text-gray-400 border-separate space-y-6 text-sm">
                <thead class="bg-gray-800 text-gray-500">
                    <tr>
                        <th class="p-3">#</th>
                        <th class="p-3 text-left">File Name</th>
                        <th class="p-3 text-left">File Size</th>
                        <th class="p-3 text-left">File Type</th>
                        <th class="p-3 text-left">Status</th>
                        <th class="p-3 text-left">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-gray-800" *ngFor="let item of document; let id = index;">
                        <td class="p-3" (click)="viewFileUploaded(item.viewDocument)">
                            {{id + 1}}
                        </td>
                        <td class="p-3" (click)="viewFileUploaded(item.viewDocument)">
                            <div class="flex align-items-center">
                                <img class="rounded-full h-12 w-12  object-cover" [src]="excel" alt="unsplash image">
                                <div class="ml-3">
                                    <div class="">{{item.fileName}}</div>
                                </div>
                            </div>
                        </td>
                        <td class="p-3" (click)="viewFileUploaded(item.viewDocument)">
                            {{item.fileSize}}MB
                        </td>
                        <td class="p-3" (click)="viewFileUploaded(item.viewDocument)">
                            {{item.fileType}}
                        </td>
                        <td class="p-3" (click)="viewFileUploaded(item.viewDocument)">
                            <span class="bg-green-400 text-gray-50 rounded-md px-2">approved</span>
                        </td>
                        <td class="p-3 ">
                            <a class="text-gray-400 hover:text-gray-100 mr-2" (click)="viewFileUploaded(item.viewDocument)">
                                <i class="material-icons-outlined text-base">visibility</i>
                            </a>
<!--                            <a class="text-gray-400 hover:text-gray-100  mx-2" (click)="downloadExcelFile(item)">-->
<!--                                <i class="material-icons-outlined text-base">download</i>-->
<!--                            </a>-->
                            <a class="text-gray-400 hover:text-gray-100  ml-2" (click)="deleteExcelRow(item)">
                                <i class="material-icons-round text-base">delete_outline</i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <br><br>
        <button (click)="backToUploads()" type="submit" class="my-5 w-full flex justify-center bg-gray-400 text-gray-100 p-4  rounded-full
font-semibold">
Upload File
</button>
    </div>
</div>
