<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<div class="flex items-center justify-center min-h-screen bg-gray-900">
    <div class="col-span-12">
        <div class="overflow-auto lg:overflow-visible ">
            <table class="table text-gray-400 border-separate space-y-6 text-sm">
                <thead class="bg-gray-800 text-gray-500">
                    <tr>
                        <th class="p-3">#</th>
                        <th class="p-3 text-left">File Name</th>
                        <th class="p-3 text-left">File Size</th>
                        <th class="p-3 text-left">File Type</th>
                        <th class="p-3 text-left">Status</th>
                        <th class="p-3 text-left">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-gray-800" *ngFor="let item of document; let id = index;">
                        <td class="p-3">
                            {{id + 1}}
                        </td>
                        <td class="p-3">
                            <div class="flex align-items-center">
                                <img class="rounded-full h-12 w-12  object-cover" [src]="excel" alt="unsplash image">
                                <div class="ml-3">
                                    <div class="">{{item.fileName}}</div>
                                </div>
                            </div>
                        </td>
                        <td class="p-3">
                            {{item.fileSize}}MB
                        </td>
                        <td class="p-3">
                            {{item.fileType}}
                        </td>
                        <td class="p-3">
                            <span class="bg-green-400 text-gray-50 rounded-md px-2">available</span>
                        </td>
                        <td class="p-3 ">
                            <a class="text-gray-400 hover:text-gray-100 mr-2" (click)="viewFileUploaded(item.viewDocument)">
                                <i class="material-icons-outlined text-base">visibility</i>
                            </a>
                            <a class="text-gray-400 hover:text-gray-100  mx-2" (click)="downloadExcelFile(item)">
                                <i class="material-icons-outlined text-base">download</i>
                            </a>
                            <a class="text-gray-400 hover:text-gray-100  ml-2" (click)="deleteExcelRow(item)">
                                <i class="material-icons-round text-base">delete_outline</i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <br><br>
        <button (click)="backToUploads()" type="submit" class="my-5 w-full flex justify-center bg-gray-400 text-gray-100 p-4  rounded-full
font-semibold">
Route To Uploads
</button>
    </div>
</div>