<!-- component -->
<div class="relative min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center" style="background-image: url('/assets/images/FBN2.png');">
    <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
    <div class="sm:max-w-lg w-full p-10 bg-white rounded-xl z-10">
        <div class="text-center">
            <h2 class="mt-5 text-3xl font-bold text-gray-900">
              📤 Tax File Uploads
            </h2>
        </div>
        <form class="mt-8 space-y-3">
          <div class="relative z-0 w-full mb-5 group">
            <input type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
            <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
              Input the Document's Identification Number (DIN)
            </label>
          </div>
            <div class="grid grid-cols-1 space-y-2">
<!--                <label class="text-sm font-bold text-gray-500 tracking-wide">Attach xlsx, xls or csv files</label>-->
                <div class="flex items-center justify-center w-full">
                    <label class="flex flex-col rounded-lg border-4 border-dashed w-full h-60 p-10 group text-center">
                                <div class="h-full w-full text-center flex flex-col items-center justify-center items-center  ">
                                    <!---<svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-blue-400 group-hover:text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                                    </svg>-->
                                    <div class="flex flex-auto max-h-48 w-2/5 mx-auto -mt-10">
                                    <img class="has-mask h-36 object-center" src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_52683-27130.jpg?size=338&ext=jpg" alt="freepik image">
                                    </div>
                                    <p *ngIf="hasUploaded === false" class="pointer-none text-gray-500 text-sms"><span class="text-sm">Drag and drop</span> files here from your computer</p>
                                  <p *ngIf="hasUploaded === true" class="pointer-none text-gray-500 text-sms"><span class="text-sm"> uploded {{fileName}}</span></p>

                                </div>
                                <input type="file" class="hidden" (change)="selectExcelFile($event)" (change)="viewExcelFile($event)">
                            </label>
                </div>
            </div>
            <p class="text-sm text-gray-300">
                <span>File type: xlsx, xls, csv</span>
            </p>

        </form>
        <div>
            <button *ngIf="hasUploaded === true" (click)="submitToTable()" type="submit" class="my-5 w-full flex justify-center bg-blue-500 text-gray-100 p-4  rounded-full
                              font-semibold">
                  Upload
              </button>
        </div>
    </div>
</div>
