@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');
form,div,input,h2,body,p,span{
  font-family: 'Euclid Circular A';
}
.has-mask {
    position: absolute;
    clip: rect(10px, 150px, 130px, 10px);
}

h2 {
    font-family: 'Cambria';
}
